<footer class="footer">
  <small>
    Bocs Chile © 2016
  </small>
  <nav>
    <ul>
      <li><%= link_to "Sobre Nosotros", page_about_path   %></li>
      <li><%= link_to "Contacto", page_contact_path %></li>
    </ul>
  </nav>
</footer>